* {
    bg-col: #1D2021;
    bg-col-light: #282828;
    border-col: #A89984;
    selected-col: #3C3836;
    green: #98971A;
    fg-col: #FBF1C7;
    fg-col2: #EBDBB2;
    grey: #BDAE93;
    highlight: @green;
    element-bg: #212323;
    element-alternate-bg: #242526;
}
